
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}


body{
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #583a7e;
}



#root{
  width: 100%;

  padding-left: 15px;
  padding-right: 15px;

  margin: auto;

}

@media (min-width: 768px) {
  #root {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  #root {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  #root {
    width: 1170px;
  }
}
