.category {
  display: flex;
  gap: 10px;
  padding: 5px 0px;
  color: white;
  margin-top: 10px;
}

.category > div {
  padding: 5px 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.category > div:hover {
  background-color: #5a5e6c;
}

.category > div.active {
  background-color: #5a5e6c;
}

.disable {
  pointer-events: none;
}

@media (max-width: 470px) {
  .category {
    padding: 0px 0px;

    gap: 5px;
  }
  .category > div {
    font-size: 13px;
    padding: 2px 4px;
  }
}
